### Question 1

What's the version of Pandas that you installed?

You can get the version information using the `__version__` field

In [103]:
# Import packages
import numpy as np
import pandas as pd

In [104]:
pd.__version__

'2.1.0'

In [105]:
housing_df = pd.read_csv("data/housing.csv")

In [106]:
housing_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [107]:
# check the shape of the data
housing_df.shape

(20640, 10)

### Question 2

How many columns are in the dataset?

In [108]:
rows, cols = housing_df.shape

print(f"Number of columns: {cols}")
print(f"Number of rows: {rows}")

Number of columns: 10
Number of rows: 20640

### Question 3

Which columns in the dataset have missing values?

In [109]:
housing_df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4

How many unique values does the `ocean_proximity` column have?

In [110]:
# check unique values in ocean_proximity column
housing_df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [111]:
len(housing_df['ocean_proximity'].unique())

5

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

In [112]:
# using groupby
housing_df.groupby('ocean_proximity')['median_house_value'].agg("mean").round()

ocean_proximity
<1H OCEAN     240084.0
INLAND        124805.0
ISLAND        380440.0
NEAR BAY      259212.0
NEAR OCEAN    249434.0
Name: median_house_value, dtype: float64

In [113]:
# or
housing_near_bay = housing_df[housing_df['ocean_proximity'] == 'NEAR BAY']
round(housing_near_bay['median_house_value'].mean())

259212

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

> Hint: take into account only 3 digits after the decimal point.

- Yes
- No

In [114]:
# average of `total_bedrooms` column in the dataset
housing_df['total_bedrooms'].mean()

537.8705525375618

In [115]:
# use fillna before taking the average
avg_tot_beds = housing_df['total_bedrooms'].mean()
housing_df['total_bedrooms'].fillna(avg_tot_beds).mean()

537.8705525375617

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

In [116]:
# Select the data of interest
selected_df = housing_df[housing_df['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]

# Get the underlying NumPy array. Let's call it `X`
X = selected_df.to_numpy()

# compute `XTX`
XTX = X.T@X

# Compute the inverse of `XTX`
XTX_inverse = np.linalg.inv(XTX)

# Create y
y = np.array([950, 1300, 800, 1000, 1300])

# Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`
w = XTX_inverse@X.T@y

print("Last element of w: ", w[-1])

Last element of w:  5.699229455065586