### Dataset

In this homework, we will use the California Housing Prices from [Kaggle](https://www.kaggle.com/datasets/camnugent/california-housing-prices).

### Objective

**The goal of this homework is to create a regression model for predicting housing prices (column `'median_house_value'`).**


### EDA

* Load the data.
* Look at the `median_house_value` variable. Does it have a long tail?

In [ ]:
# import packages
import pandas as pd
import numpy as np

ca_housing = pd.read_csv("data/housing.csv")

ca_housing.head()

In [ ]:
# check the shape of the data
ca_housing.shape

In [ ]:
# check for missing values
ca_housing.isna().sum()

In [ ]:
# inspect median_house_value

### Preparing the dataset 

For this homework, we only want to use a subset of data. 

First, keep only the records where `ocean_proximity` is either `'<1H OCEAN'` or `'INLAND'`

Next, use only the following columns:

* `'latitude'`,
* `'longitude'`,
* `'housing_median_age'`,
* `'total_rooms'`,
* `'total_bedrooms'`,
* `'population'`,
* `'households'`,
* `'median_income'`,
* `'median_house_value'`

In [6]:
subset_df =  ca_housing[(ca_housing['ocean_proximity'] == 'INLAND') | (ca_housing['ocean_proximity'] == '<1H OCEAN>' ) ][['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population','households', 'median_income','median_house_value']]

subset_df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
954,37.64,-121.92,46.0,1280.0,209.0,512.0,208.0,5.1406,315600.0
957,37.66,-121.90,18.0,7397.0,1137.0,3126.0,1115.0,6.4994,323000.0
965,37.68,-121.88,23.0,2234.0,270.0,854.0,286.0,7.3330,337200.0
967,37.67,-121.88,16.0,4070.0,624.0,1543.0,577.0,6.5214,311500.0
968,37.67,-121.88,25.0,2244.0,301.0,937.0,324.0,6.4524,296900.0